
/* START CORE ELEMENTS */
* {
  font-family : "Inconsolata", monospace;
  margin      : 0;
  padding     : 0;
}
body {
  background-color: #FFF;
}
/* END CORE ELEMENTS */

/* START MAIN ELEMENTS */
img {
}
input {
  width: 75px;
}
button {
  font-weight: bold;
  padding: 2px;
}
/* END MAIN ELEMENTS */

/* START TABLES */
.divTable {
  border: 1px #CCC solid;
  display: table;
}
.divRow {
  display: table-row;
}
.divCell {
  /* border: 1px #CCC solid; */
  display: table-cell;
  vertical-align: top;
  /* padding: 2px; */
}
/* END TABLES */

/* START JQUERY UI */
.ui-tooltip {
  position: absolute;
  background: #000;
  color: #FFF;
  padding: 5px;
}

.draggable {
  width: 32px;
  height: 32px;
  /* background: #ccc; */
  /* left: 250px;
  top: 0; */
  /* position:inherit; */
}
.draggable:hover {
  border: 1px #000 solid;
  background: #ccc;
}

.droppable {
  /* position: absolute; */
  /* left: 250px;
  top: 0; */
  width: 64px;
  height: 64px;
  background: #999;
  color: #fff;
  vertical-align:middle;
  text-align: center;
}
.droppable-highlight {
  color: #000;
}
/* END JQUERY UI */
